body{
    background: #fff;
    
    margin: 0 auto;
    color: #000000;


}


div.navBar {
    background-color: #818181;
    overflow: hidden;
    
  }
  
 main{
    margin:0 auto;
    width:800px;
 }

 